html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #f4f4f4; /* Light background for the body */
}

main {
    flex: 1;
    padding: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.container h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #a7d7ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #6a94b7;
}

.container a {
    display: block;
    margin-top: 15px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.container a:hover {
    text-decoration: underline;
}

/* For mobile responsiveness */
@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: none;
    }
}
